div.dataTables_filter, div.dataTables_length {
    display: inline-block;
    float: right;
}
div.dataTables_length {
    margin-left: 1em;
}
#sidebar-overlay {
    z-index: 10 !important;
}

.brand-link .brand-image {
    max-height: 40px !important;
}
.dt-buttons{
    float: left;
}

.dt-buttons .dt-button-collection {
   margin: 5px 0 !important;
}
  
.dt-button.buttons-columnVisibility {
    background-color: red;
    color: white;
}

.dt-button.buttons-columnVisibility.active {
    background-color: green;
}

div.dt-button-collection .dt-button {
    border: none;
}
  

@media screen and (max-width: 767px){

    div.dataTables_filter, div.dataTables_length{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
    }
    div.dataTables_length {
        margin-left: 0;
    }
}